/*HERO HEADER*/

.header-img {
    background-image: url(../img/header-man.png);
    height: 1076px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 39px;
}

.slide-menu {
    font-size: 25px;
}

.slide-menu a {
    color: #ffff;
}

.main-name-font {
    color: #ffffff;
    font-family: Poppins;
    font-weight: bold;
}

.main-name-position {
    position: absolute;
    width: 100%;
    top: 35%;
}

.first-name {
    font-size: 190px;
    letter-spacing: -5px;
    line-height: 200px;
    display: flex;
    justify-content: center;
}

.second-name {
    font-size: 36px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.button-flex {
    display: flex;
    justify-content: center;
}

.grey-button {
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-top: 27px;
}

.grey-button:hover {
    cursor: pointer;
    background-color: #ffffff24;
}

.button-font {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.arrow-position {
    font-size: 48px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    width: 100%;
}

/*INTRO 01*/

.design-name-one {
    font-size: 55px;
    line-height: 65px;
    color: #2a2d2e;
    letter-spacing: -4px;
}

.design-note {
    color: #2a2d2e;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.first-design-img img {
    max-width: 100%;
}

.design-info-m {
    margin: 0 3% 0 3%;
}

.white-button {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #2a2d2e;
    background-color: #ffffff;
}

.white-button:hover {
    cursor: pointer;
    background-color: #f3ebeb;
}

.white-button-font {
    font-size: 10px;
    color: #2a2d2e;
}

.design-section-flex {
    display: flex;
    margin: 7% 0 0 0;
}

/*INTRO VIDEO*/

.second-design-img {
    max-width: 100%;
    height: 649px;
}

.design-name-one-r {
    font-size: 50px;
    line-height: 42px;
}

.design-note-two {
    font-size: 16px;
    line-height: 30px;
}

.design-paragraph {
    color: #72787a;
    font-weight: 400;
    font-size: 11px;
}

/*PORTFOLIO*/

.all-applications {
    display: flex;
    justify-content: center;
    line-height: 10.56;
    letter-spacing: -0.9px;
    text-align: center;
}

.all-applications li {
    list-style: none;
    margin: 0 10px;
}

.all-applications a {
    text-decoration: none;
    color: #818586;
    font-size: 15px;
    font-weight: 500;
}

.all-applications a:hover {
    color: #2a2d2e;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px;

}

.grid-container > div {
    min-height: 385px;
    min-width: 385px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.grid-name {
    margin: 2%;
}

.subtitle {
    margin: 0;
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
}

.title{
    margin: 0;
    color: #ffffff;
    font-family: "Poppins - Semi Bold";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px;
}

.grid-item-one {
    background: url(../img/first_image.jpg);
    grid-area: 1/1/3/3;
}

.grid-item-two {
    background: url(../img/second_image.jpg);
    grid-area: 1/3/2/5;
}

.grid-item-three {
    background: url(../img/third_image.jpg);
    grid-area: 2/3/3/5;
}

.grid-item-four {
    background: url(../img/four_image.jpg);
    grid-area: 3/1/5/2;
}

.grid-item-five {
    background: url(../img/five_image.jpg);
    grid-area: 3/2/5/4;
}

.grid-item-six {
    background: url(../img/six_image.jpg);
    grid-area: 3/4/4/5;
}

.grid-item-seven {
    background: url(../img/seven_image.jpg);
    grid-area: 4/4/5/5;
}

.grid-item-eight {
    background: url(../img/eight_image.jpg);
    grid-area: 5/1/6/3;
}

.grid-item-nine {
    background: url(../img/nine_image.jpg);
    grid-area: 5/3/6/5;
}

.portfolio-button-flex {
    display: flex;
    justify-content: center;
    margin: 3% 0 6% 0;
}

/*PRICING TABLE*/

.pricing-table-background {
    background: url(../img/pricing_table_bg.png);
    height: 1080px;
    background-size: cover;
    background-position: center;
}

.pricing-table-headlines {
    text-align: center;
}

.types-of-projects {
    display: flex;
    justify-content: center;
}

.icons-posision {
    text-align: center;
    margin: 5%;
}

.headline-one {
    font-size: 80px;
    line-height: 1.25;
    letter-spacing: -4px;
    margin: 0;
    padding-top: 5%;
}

.headline-two {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.border-hover img {
    box-sizing: border-box;
    border: transparent;
    border-radius: 80px;
    padding: 9px;
    width: 134px;
    height: 134px;
}

.border-hover img:hover {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 80px;
    padding: 8px;
    width: 134px;
    height: 134px;
}

.project-features {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 13%;
}

.name-of-project {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.2px;
    margin: 9% 0;
}

.text-through {
    text-decoration: line-through;
}

.violet-button {
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.violet-button:hover {
    width: 170px;
    height: 50px;
    border-radius: 25px;
    background-color: #7443ff;
    border: #7443ff;
}

/*KEEP IN TOUCH*/

.keep-in-touch-flex {
    display: flex;
    justify-content: space-between;
    margin: 9% 10%;
    border-bottom: 1px solid #bcbcbc;
}

.violet-name {
    display: flex;
    color: #7443ff;
    font-family: "Poppins - Semi Bold";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.64px;
}

.violet-name hr {
    width: 2px;
    height: 20px;
    border: 1px solid #7443ff;
    background: #7443ff;
    margin: 0;
    margin-right: 10px;
}

.keep-in-touch-name {
    color: #2a2d2e;
    font-size: 55px;
}

.my-form-control {
    border: transparent;
    border-bottom: 1px solid #6666;
    outline: none;
    width: 470px;
    font-size: 16px;
}

.my-form-control:focus {
    color: #495057;
    background-color: #fff;
    border: transparent;
    border-bottom: 1px solid #7443ff;
    outline: none;
    box-shadow: none;
}

.keep-in-touch-arrow-link {
    position: absolute;
    right: -56px;
    bottom: 5px;
    color: #495057;
}

.keep-in-touch-arrow-link a:hover {
    color: #000000;
}

.my-form-group {
    margin-top: 30px;
}

.my-form-check {
    margin-bottom: 15px;
}

.my-form-check-input {
    width: 26px;
    height: 26px;
    margin-top: 0;
}

.form-check-input:hover {
    color: hsl(315, 100%, 50%);
}

.my-form-check-label {
    margin-bottom: 0;
    margin-left: 25px;
    font-size: 16px;
}

.check-pad {
    padding: 5% 0;
}

.keep-in-touch-button {
    margin-bottom: 14%;
}

.keep-in-touch-contacts {
    display: flex;
    justify-content: space-between;
    margin: 9% 10%;
}

.keep-in-touch-title {
    color: #2a2d2e;
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -1.5px;
}

.keep-in-touch-subtitle {
    color: #2a2d2e;
    font-size: 16px;
    font-weight: 300;
}

/*SOCIAL*/

.social-background {
    height: 220px;
    background-color: #7443ff;
    background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
}

.social-icons {
    display: flex;
    justify-content: space-around;
    line-height: 14;
}

.social-icons a {
    font-size: 30px;
    line-height: 1.13;
    color: #ffffff;
    text-decoration: none;
    font-family: Poppins;  
}

.social-icons-line {
    width: 17%;
    text-align: center;
    border-right: 1px solid #cccccc;  
}

.social-icons a:hover {
    color: #1d2e3f;
    opacity: 0.5;
}

/*FOOTER*/

.footer-flex {
    display: flex;
    justify-content: space-around;
    line-height: 75px;
    padding: 5%;
}

.logo-flex {
    display: flex;
}

.footer-logo-name {
    font-size: 26px;
    letter-spacing: -1px;
    color: #262b40;
    padding-left: 10px;
}

.copyrights {
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    color: #72787a;
}

.social-links {
    display: flex;
}

.social-links a {
    text-decoration: none;
    color: #72787a;
    padding-right: 20px;
}

.social-links a:hover {
    color: #000000;}

.social-links span {
    padding-right: 20px;
}

.input-headline {
    font-size: 18px;
    letter-spacing: -0.7px;
    color: #262b40;
}

.bottom-line {
    position: relative;
}

.bottom-line input {
    width: 518px;
    line-height: 40px;
    font-size: 14px;
    cursor: text;
    border: transparent;
    border-bottom: 1px solid #6666;
    outline: none;
}

.bottom-line input:focus {
    border: transparent;
    border-bottom: 1px solid #000000;
    outline: none; 
}

.arrow-link {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: #262b40;
}

/* RESPONSIVE */

@media screen and (max-width: 1500px) {
    .social-background {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .first-name {
        font-size: 150px;
    }

    .second-name {
        font-size: 30px;
    }

    .design-info-m {
        text-align: center;
    }

    .design-name-one {
        font-size: 47px;
        line-height: 55px;
    }

    .design-note {
        font-size: 13px;
        line-height: 25px;
    }

    .white-button {
        height: 60px;
    }

    .second-design-img {
        display: none;
    }

    .names-m {
        margin: 0 10%;
    }

    .footer-logo-name {
        font-size: 24px;
    }

    .copyrights {
        font-size: 11px;
    }

    .input-headline {
        font-size: 17px;
    }

    .bottom-line input {
        width: 500px;
    }
}

@media screen and (max-width: 1200px) {
    .design-section-flex {
        justify-content: center;
    }

    .design-name-one {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -2px;
    }

    .design-note {
        font-size: 10px;
        line-height: 15px;
    }

    .white-button {
        width: 150px;
        height: 50px
    }

    .first-design-img {
        display: none;
    }

    .first-name {
        font-size: 130px;
        line-height: 180px;
    }

    .second-name {
        font-size: 25px;
        line-height: 20px;
    }

    .grid-item-four {
        background: url(../img/four_image.jpg);
        grid-area: 3/1/5/3;
    } 
    
    .grid-item-five {
        background: url(../img/five_image.jpg);
        grid-area: 3/3/5/5;
    }
    
    .grid-item-six {
        background: url(../img/six_image.jpg);
        grid-area: 5/1/6/3;
    }
    
    .grid-item-seven {
        background: url(../img/seven_image.jpg);
        grid-area: 5/3/6/5;
    }
    
    .grid-item-eight {
        background: url(../img/eight_image.jpg);
        grid-area: 6/1/7/3;
    }
    
    .grid-item-nine {
        background: url(../img/nine_image.jpg);
        grid-area: 6/3/7/5;
    }

    .headline-one {
        font-size: 70px;
    }

    .headline-two {
        font-size: 13px
    }

    .icons-posision {
        margin: 4%;
    }

    .project-features {
        font-size: 13px;
        line-height: 23px;
    }

    .name-of-project {
        font-size: 22px;
        line-height: 28px;
    }

    .keep-in-touch-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .keep-in-touch-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }

    .violet-name {
        font-size: 18px;
    }

    .keep-in-touch-name {
        font-size: 65px;
        line-height: 1.25;
    }

    .my-form-control {
        width: 400px;
        font-size: 14px;
    }

    .my-form-check-label {
        font-size: 14px;
    }

    .keep-in-touch-title {
        font-size: 25px;
        line-height: 90px;
    }

    .keep-in-touch-subtitle {
        font-size: 14px;
    }

    .footer-logo-name {
        font-size: 20px;
    }

    .copyrights {
        font-size: 10px
    }

    .input-headline {
        font-size: 15px;
    }

    .bottom-line input {
        width: 450px;
        font-size: 12px;
    }
}

@media screen and (max-width: 960px) {
    .design-name-one {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -1px;
    }

    .design-note {
        font-size: 8px;
        line-height: 12px;
    }

    .white-button-font {
        font-size: 8px;
    }

    .white-button {
        width: 120px;
        height: 30px;
    }

    .first-name {
        font-size: 115px;
        line-height: 160px;
    }

    .second-name {
        font-size: 22px;
    }

    .grey-button {
        width: 180px;
        height: 58px;
        margin-top: 23px;
    }

    .grey-button-font {
        font-size: 11px;
    }

    .all-applications li {
        margin: 0 8px;
    }

    .all-applications a {
        font-size: 13px;
    }

    .title {
        font-size: 19px;
    }

    .subtitle {
        font-size: 15px;
    }

    .pricing-table-background {
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    .pricing-table-headlines {
        margin-top: 8%;
    }

    .headline-one {
        font-size: 64px;
    }

    .headline-two {
        font-size: 12px;
    }

    .types-of-projects {
        flex-direction: column;
    }

    .icons-posision {
        margin: 3%;
    }

    .project-features {
        display: none;
    }

    .violet-button {
        width: 160px;
        height: 40px;
        margin-top: 2%;
    }

    .violet-button-font {
        font-size: 10px;
    }

    .my-form-control {
        width: 350px;
        font-size: 13px;
        height: 30px;
    }

    .my-form-check-label {
        margin-left: 20px;
        font-size: 13px;
    }

    .keep-in-touch-title {
        font-size: 20px;
        line-height: 50px;
    }

    .keep-in-touch-subtitle {
        font-size: 11px;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-flex {
        justify-content: center;
    }

    .footer-logo-name {
        font-size: 18px;
    }

    .copyrights {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 9px;
    }

    .input-headline {
        font-size: 14px;
    }

    .bottom-line input {
        width: 370px;
        font-size: 11px;
        line-height: 20px;
    }
}

@media screen and (max-width: 740px) {
    .design-name-one {
        font-size: 19px;
        line-height: 25px;
    }

    .design-note {
        margin-top: 10px;
        font-size: 9px;
        line-height: 9px;
    }

    .white-button {
        width: 100px;
        height: 20px;
    }

    .white-button-font {
        font-size: 6px;
    }

    .first-name {
        font-size: 95px;
        line-height: 140px;
    }
    .second-name {
        font-size: 17px;
        line-height: 12px;
    }

    .grey-button {
        width: 135px;
        height: 40px;
    }

    .grey-button-font {
        font-size: 9px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .grid-container > div {
        margin: 2% 0;
    }

    .all-applications a {
        font-size: 11px;
    }

    .headline-one {
        font-size: 50px;
        letter-spacing: -2px;
        line-height: 2.25;
    }

    .headline-two {
        font-size: 10px;
    }

    .types-of-projects {
        margin-top: 7%;
    }

    .violet-button {
        width: 150px;
        height: 35px;
    }

    .keep-in-touch-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .keep-in-touch-title {
        font-size: 19px;
    }

    .keep-in-touch-subtitle {
        font-size: 9px;
    }    

    .input-headline {
        font-size: 12px;
        line-height: 40px;
    }

    .bottom-line {
        line-height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .white-button {
        width: 80px;
        height: 17px;
    }

    .white-button-font {
        font-size: 6px;
    }

    .first-name {
        font-size: 70px;
        line-height: 100px;
    }
    .second-name {
        font-size: 12px;
        line-height: 10px;
    }

    .all-applications a {
        font-size: 10px;
    }

    .headline-one {
        font-size: 45px;
    }

    .headline-two {
        font-size: 11px;    }

    .violet-button {
        width: 130px;
        height: 30px;
    }

    .violet-button-font {
        font-size: 8px;
    }

    .my-form-control {
        width: 300px;
        font-size: 13px;
        height: 25px;
    }

    .keep-in-touch-arrow-link {
        right: 19px;
        bottom: 2px;
    }

    .keep-in-touch-title {
        font-size: 16px;
        line-height: 40px;
    }

    .keep-in-touch-subtitle {
        font-size: 7px;
    }

    .input-headline {
        font-size: 10px;
        line-height: 35px;
    }

    .bottom-line {
        line-height: 20px;
    }

    .bottom-line input {
        width: 350px;
        font-size: 9px;
        line-height: 15px;
    }
}